bcrypt==3.1.7
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==3.3.2
idna==2.10
iso8601==0.1.12
keystoneauth1==4.2.0
os-service-types==1.7.0
paramiko==2.7.1
pbr==5.4.5
pycparser==2.20
PyNaCl==1.4.0
requests==2.24.0
six==1.15.0
stevedore==2.0.1
urllib3==1.25.9
